
body{
    background-image: url("../images/B&W-laptop");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
    /* box-sizing: border-box; */
    overflow: hidden;

}

nav{
    display: flex;
    width: 100%;
    background: #256D85;
    color: white;
    justify-content: space-evenly;
    /* opacity: 55%; */
    /* border-radius: 5px; */
}
#logo{
    height: 60px;
    width: 60px;
    border-radius: 5px;
    padding-top: 15px;
    padding-right: 450px;
    border-radius: 15px;
}
h1{
    font-size: 30px;
    padding-right: 550px;
    font-style: oblique;
    /* font-weight: 800; */
}
#welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

section{
    display: flex;
    justify-content: space-around;
    /* opacity: 55%; */
    padding: 50px;
    border-radius: 10px;
    height: 200px;
    color: white;
    /* flex-direction: column; */
    
}

#category{
    background: #256D85;
    padding: 0 300px 200px 300px;
    border-radius: 4px;
    
}

#level{
    background: #256D85;
    padding: 0 20px 150px;
    border-radius: 4px;

}
/* inputform{
    border-radius: 10px;

} */

.startbtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .btn{
    background: green;
    opacity: 85%;
    font-weight: 700;
    border-radius: 7px;
    padding: 10px 100px 5px 100px;
    width:120px;
    margin-right: 600px;
} */