
body{
    background-image: url("../images/undraw_Questions_re_1fy7.png");
    background-repeat: no-repeat;
    /* position: absolute; */
    height: 100vh;
    backdrop-filter: blur(10px);
    box-sizing: border-box;
    overflow: hidden;

}

nav{
    display: flex;
    background: #002B5B;
    color: white;
    justify-content: space-evenly;
    border-radius: 5px;
}
#logo{
    height: 60px;
    width: 60px;
    padding-top: 12px;
    padding-right: 400px;
}
h1{
    font-size: 30px;
    padding-right: 550px;
}
#welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    display: flex;
    justify-content: space-evenly;
    opacity: 75%;
    padding: 50px;
    border-radius: 10px;
    height: 200px;
    color: white;
    
}

#category{
    background: #002B5B;
    padding: 0 20px 150px;
    border-radius: 10px;
    
}

#level{
    background: #002B5B;
    padding: 0 20px 150px;
    border-radius: 7px;

}

.startbtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    background: green;
    border-radius: 7px;
    /* width: 50%; */
    /* padding: 10px 150px 5px 150px; */
    width:120px;
    margin:0 auto;
}